.cartitle_name {
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: rgb(14, 13, 13);
	font-size: 20px;
}
.caritem {
	border-radius: 20px;
	border: 2px solid blueviolet;
	background-color: rgb(85, 83, 83);
	margin-left: 15%;
	margin-right: 15%;
	font-size: 12px;
	margin-bottom: 10px;
	padding-bottom: 30px;
}
.taskitem p {
	font-size: 20px;
	color: black;
}

.desc {
	color: rgb(189, 171, 171);
	font-size: 20px;
	margin-bottom: 30px;
}
.desc span {
	color: black;
}
input {
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 10px;
	border: none;
	padding: 15px;
}
input[type="submit"] {
	/* background-color: blueviolet; */
	padding: 10px 20px 10px 20px;
	/* padding-right: 20px; */
	border-radius: 20px;
}
input[type="submit"]:hover {
	background-color: blueviolet;
	font-size: 20px;
}
label {
	font-size: 20px;
}
input :focus {
	border: 1px solid blueviolet;
}
