.cars {
	flex: 9;
	margin: 20px;
	padding-bottom: 30px;
	background-color: rgb(190, 190, 196);
	border-radius: 10px;
	display: flex;
	margin-right: 20px;
	flex-wrap: wrap;
	justify-content: space-between;

	align-items: center;
	height: 100%;
}
.car {
	width: 200px;
	margin: 25px 25px 25px 25px;
	align-items: center;
}
.carimg {
	width: 50%;
	height: 50px;
	object-fit: cover;
	margin-top: 20px;
	border-radius: 7px;
	background-size: cover;
}
.carinfo {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cartittle {
	font-family: "Josefin Sans", sans-serif;
	font-size: 24px;
	font-weight: 700;
	margin-top: 15px;
	cursor: pointer;
}
.carprice {
	font-family: "Lora" serif;
	font-style: italic;
	font-size: 13px;
	color: #999;
	align-items: center;
	margin-top: 15px;
}
